<template name="navbar">
    <nav id="theNavbar">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">
                <img id="logo" src="/img/denverlogo.png" />
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{#if currentUser}}
                <li>
                    Portefeuille: {{dollarWallet}} $
                </li>
                {{/if}}
                <li>
                    <a href="/">Cryptomonnaies</a>
                </li>
                {{#if currentUser}}
                <li>
                    <a href="/sales">Mes ordres de vente
                        <span class="new badge" data-badge-caption="en cours">{{salesCount}}</span>
                    </a>
                </li>
                {{/if}}
                <li>
                    {{> loginButtons}}
                </li>
            </ul>
        </div>
    </nav>
</template>