<template name="footer">
    <footer id="theFooter" class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Bitdenver</h5>
                    <p class="grey-text text-lighten-4">Projet de CARA</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Liens</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://docs.meteor.com/">API Meteor</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://guide.meteor.com">Guide Meteor</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright MatMaws
            </div>
        </div>
    </footer>
</template>